[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MortalityGaps"]
	path = MortalityGaps
	url = https://github.com/mpascariu/mortalitygaps
[submodule "MortalityLaws"]
	path = MortalityLaws
	url = https://github.com/mpascariu/mortalitylaws
[submodule "ungroup"]
	path = ungroup
	url = https://github.com/mpascariu/ungroup
